<div ng-controller="HomeController">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-med-5">
        <h2 class="songname">{{ currentSong.name }}</h2>
      </div>
      <div class="col-lg-5 col-med-7">
        <div class="row">
          <form ng-submit="createNewSong()" name="form" novalidate>
            <div class="col-xs-9">  
              <input type="text"
                name="songName"
                ng-model="songname"
                placeholder="New Sequence Name"
                required
                unique>
              <p class="error" ng-if='form.songName.$error.unique'>Please input a unique name!</p>
            </div> 
            <div class="col-xs-3">
              <button type="submit" class="btn btn-primary btn-med btn-block" ng-disabled="form.$invalid">Add New</button>
            </div>   
          </form>
        </div>
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td></td>
          <td class="text-center" ng-repeat="stepNumber in range">{{ stepNumber }}</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="drum in currentSong.drums track by $index">
          <td class="drum-title text-center">{{ drum.title }}</td>
          <td ng-click="toggleState($parent.$index, $index)" ng-class="step" ng-repeat="step in drum.stepsArray track by $index"></td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-lg-7 col-sm-12">
        <div class="panel clearfix">
          <div class="row">
            <div class="col-xs-9">
              <div class="slider-container">
                <!--https://github.com/PopSugar/angular-slider-->
                <slider slider-update floor="40" ceiling="212" step="4" precision="4" ng-model="currentSong.bpm"></slider>
              </div>
            </div>
            <div class="col-xs-3">
              <form name="stepsForm" id="steps-form">
                <label for="stepsSelect">steps</label>
                <select
                  class="form-control"
                  name="stepsSelect" 
                  ng-model="selectedOption" 
                  ng-options="option.value as option.name for option in options">
                </select>
                
              </form>
            </div>
          </div>
            
          <!-- <div class="col-xs-2">
            <label for="stepsSelect">Steps</label>
          </div> -->
        </div>
      </div>
      <div class="col-lg-5 song-list">
        <div class="row" ng-repeat="song in songList track by $index">
          <div class="col-xs-9">
            <button ng-class="{ 'current-song': isCurrent($index) }" class="btn btn-med btn-block song-button" ng-click="selectSong($index)">{{ song.name }}</button>
          </div>
          <div class="col-xs-3">    
            <button ng-if="songList.length > 1" class="btn btn-default btn-med btn-block" ng-click="deleteSong($index)">remove</button>
          </div>
        </div>
      </div>
    </div>   
  </div>
</div>
