body {
  padding-top: 30px;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 16px;
}

input[type="text"] {
  width: 100%;
  height: 34px;
  padding-left: 8px;
  margin-bottom: 10px;
}

p.error {
  margin-top: -5px;
  color: white;
  background: red;
  padding: 5px 15px;
  border-radius: 5px;
}

.btn {
  margin-bottom: 10px;
  overflow-x: hidden;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  outline: none;
  outline-offset: -2px;
}

.songname {
  font-size: 18px;
  padding: 5px 8px;
  color: white;
  background: #888;
  cursor: pointer;  
}

.songname span {
  float: right;
  font-size: 18px;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  padding: 3px;
  width: 25px;
}

.table>thead>tr>th:first-child,
.table>tbody>tr>th:first-child,
.table>tfoot>tr>th:first-child,
.table>thead>tr>td:first-child,
.table>tbody>tr>td:first-child,
.table>tfoot>tr>td:first-child {
  width: 70px;
}

tbody td.off {
  background: #ccc;
  cursor: pointer;
}

tbody td.on {
  background: orange;
  cursor: pointer;
}

.song-button {
  background: #eee;
}

.song-button:hover {
  background: #FDCE9E;
}

.current-song {
  background: #FDCE9E;
}

  